# Q1. List any five functions of the pandas library with execution.

In [1]:
import pandas as pd

# create a DataFrame with sales data
data = {'Region': ['North', 'North', 'South', 'South', 'East', 'East', 'West', 'West'],
        'Product': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
        'Sales': [100, 200, 150, 300, 120, 250, 180, 280]}
df = pd.DataFrame(data)

print(df)

  Region Product  Sales
0  North       A    100
1  North       B    200
2  South       A    150
3  South       B    300
4   East       A    120
5   East       B    250
6   West       A    180
7   West       B    280

In [2]:
df.head()

  Region Product  Sales
0  North       A    100
1  North       B    200
2  South       A    150
3  South       B    300
4   East       A    120

In [3]:
df.tail()

  Region Product  Sales
3  South       B    300
4   East       A    120
5   East       B    250
6   West       A    180
7   West       B    280

In [6]:
df.columns

Index(['Region', 'Product', 'Sales'], dtype='object')

In [7]:
df.dtypes

Region     object
Product    object
Sales       int64
dtype: object

In [8]:
df.describe

<bound method NDFrame.describe of   Region Product  Sales
0  North       A    100
1  North       B    200
2  South       A    150
3  South       B    300
4   East       A    120
5   East       B    250
6   West       A    180
7   West       B    280>

# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [1]:
import pandas as pd

# create a DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)

# reindex the DataFrame
df.index = range(1, 6, 2)

print(df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console. 
# For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [7]:
def sum_(df):
    total = 0
    for i, row in df.iterrows():
        if i < 3:
            total += row['Values']
    print(total)

In [8]:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_(df)

60

In [ ]:
df[]

# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [13]:
data = pd.DataFrame({'Text':["darshan",'data ','science','masters']})

In [18]:
data['word_count'] = data['Text'].apply(len)

In [19]:
data

      Text  word_count
0  darshan           7
1    data            5
2  science           7
3  masters           7

In [ ]:
def count_words(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df

# Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size() and DataFrame.shape() are both methods in Pandas that return information about the dimensions of a DataFrame, but they provide different information.
DataFrame.size() returns the total number of elements in a DataFrame, while DataFrame.shape() returns a tuple with the number of rows and columns.

In [20]:
import pandas as pd

# Create a DataFrame with 3 rows and 4 columns
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9], 'D': [10, 11, 12]})

# Get the size of the DataFrame
size = df.size
print(size)  

# Get the shape of the DataFrame
shape = df.shape
print(shape)

12
(3, 4)

# Q6. Which function of pandas do we use to read an excel file?

We use the read_excel() function of pandas to read an Excel file. It can read data from an Excel file with various formats including .xls and .xlsx.

In [ ]:
import pandas as pd

# read the excel file
df = pd.read_excel('data.xlsx')

# display the dataframe
print(df)

# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [1]:
def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df
# This is a Python function that takes a pandas DataFrame df as input and extracts the username from the email column.
# It does this by applying a lambda function to each row of the 'Email' column, which splits the email address by '@' 
# and returns the first element (the username). The resulting usernames are then added as a new column to the DataFrame called 'Username'. 
# Finally, the modified DataFrame is returned by the function.

In [2]:
# Create a sample DataFrame
import pandas as pd
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.doe@example.com', 'james.smith@example.com']})

# Call the function to extract the usernames
df = extract_username(df)

# Display the updated DataFrame
print(df)

                     Email     Username
0     john.doe@example.com     john.doe
1     jane.doe@example.com     jane.doe
2  james.smith@example.com  james.smith

# Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows. For example, if df contains the following values: A B C 0 3 5 1 1 8 2 7 2 6 9 4 3 2 3 5 4 9 1 2 Your function should select the following rows: A B C
# 1 8 2 7
# 4 9 1 2
# The function should return a new DataFrame that contains only the selected rows.

In [3]:
# Create the DataFrame
df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})

# Define the select_rows function
def select_rows(df):
    selected_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_df

In [4]:
# Call the select_rows function
selected_df = select_rows(df)

# Print the selected rows
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [6]:
import pandas as pd

def calculate_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    
    print("Mean:", mean)
    print("Median:", median)
    print("Standard deviation:", std)

In [7]:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
# Call the function to calculate the statistics
calculate_stats(df)

Mean: 30.0
Median: 30.0
Standard deviation: 15.811388300841896

In [9]:
df

   Values
0      10
1      20
2      30
3      40
4      50

# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and  should include the current day.

In [12]:
def calculate_moving_average(df):
    window_size = 7
    ma_column = 'MovingAverage'
    df[ma_column] = df['Sales'].rolling(window_size, min_periods=1).mean()
    return df
#The min_periods=1 parameter is used to specify that the rolling window should start 
#calculating the rolling average from the first available value.

In [14]:
# Create a sample DataFrame
df = pd.DataFrame({'Sales':[100,200,500,700,300,600,800],
                   'Date': pd.date_range(start='2022-01-01', periods=7, freq='D')})

# Call the function to calculate the moving average
df = calculate_moving_average(df)

# Print the modified DataFrame with the new 'MovingAverage' column
print(df)

   Sales       Date  MovingAverage
0    100 2022-01-01     100.000000
1    200 2022-01-02     150.000000
2    500 2022-01-03     266.666667
3    700 2022-01-04     375.000000
4    300 2022-01-05     360.000000
5    600 2022-01-06     400.000000
6    800 2022-01-07     457.142857

# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

In [24]:
import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
})
df['Date'] = pd.to_datetime(df['Date'])
df_with_weekday = add_weekday_column(df)
print(df_with_weekday)




#%A is a format code that represents the full name of the day of the week.The strftime() method is used to convert a datetime 
#object into a string with a specific format. In this case, %A is a directive that is replaced by the full name of the day of the 
#week (e.g., "Monday", "Tuesday", etc.) when the method is executed.

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [25]:
import pandas as pd

def select_january_data(df):
    start_date = pd.Timestamp('2023-01-01')
    end_date = pd.Timestamp('2023-01-31')
    return df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

In this function, we define two variables start_date and end_date that represent the start and end dates of the range we want to select. We then use boolean indexing to select the rows where the 'Date' column is between start_date and end_date. The & operator is used to combine two boolean conditions, so that only rows that satisfy both conditions are included in the output.